.snake-game {
  width: 100vw;
  height: 100vh;
}

.header-block, .footer-block{
  height: 10%;
  color: white;
}

.game-block{
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.game-area {
  position: relative;
  margin: 0 auto;
  width: 500px;
  height: 500px;
  border: 2px solid black;
}

.snake-dot {
  position: absolute;
  width: 4%;
  height: 4%;
  background: rgba(3, 243, 103, 0.534);
}
.snake-head {
  background-color: rgba(0,0,0,0);
  animation: head 5s linear infinite;
}

@keyframes head {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75%{
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.snake-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.snake-food {
  position: absolute;
  width: 4%;
  height: 4%;
  z-index: 1;
  animation: food 1s linear infinite;
}

@keyframes food {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.footer_git-image {
  width: 40px;
  height: 40px;
}

.game-area:fullscreen {
  background-color: white;
}

button:hover {
  animation: food 1s linear infinite;
}

.panel-control {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
}

.sound-image{
  width:50px;
  height: 35px;
}

.image-none {
  display: none !important;
}
